<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="menu">
        <nav style="background-color:#f2f2f2; padding:10px; margin-bottom:20px;">
            <a th:href="@{/}" style="margin-right:15px;">Home</a>
            <a th:href="@{/search}" style="margin-right:15px;">Search</a>
            <a th:href="@{/county}" style="margin-right:15px;">County</a>
            <a th:href="@{/comments}" style="margin-right:15px;">Comments</a>
        </nav>
    </div>
</body>
</html>