@import "theme.css";
.card-container{    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
}

.officialCard{
    background-color: rgb(242, 220, 159);
    padding: 1%;
    border: 2px solid peru;
    border-radius: 4%;
}