@import "theme.css";

.card-container{    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
    width:100%;
}

.officialCard{
    background-color: rgb(217, 251, 255);
    padding: 4%;
    border: 2px solid rgb(84, 105, 225);
    border-radius: 4%;
}

.input{
    --input-border: rgb(84, 105, 225);
    --input-background: rgb(240, 253, 255);
    --input-text-color:#667299;
    width: 200px;
    height: 25px;
    border-radius: 10%;
    border: 1px solid var(--input-border);
    background-color: var(--input-background);
    font-family: 'Tenor Sans';
    color: var(--input-text-color);
    margin-bottom: 2%;
}
h1,h2{
    color:#798cc9;
}