/*
Fonts to use
*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans+Mono:wght@100..900&family=Offside&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Syne+Mono&family=Tenor+Sans&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Yeseva+One&family=Yomogi&family=Ysabeau+SC:wght@1..1000&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
}

h1 {
    color:#19747E;
}

h2{
    color: #29818b;
    font-family: 'Ysabeau SC';
}

h3{
    color: #000000;
    font-family: 'Tenor Sans';
}

.half-col{
    display: flex;
    flex:47%;
    flex-direction:row;
    width: 100%;
    gap: 6%;
}

.card{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 220, 159);
    padding: 1%;
    border: 2px solid peru;
    border-radius: 4%;
    
}

button{
    font-family: "Suse Mono";
    border: 2px solid;
    padding: 1%;
    border-radius: 15%;
    width: min-content;
    background-color: var(--button-color,#b0dfe4);
    font-size: 1.1em;
    border-color: var(--button-border-color, #19747E);
}

.card-title{ 
    color:#29818b;
    
}

.card-text {
    color:black;
    font-family: 'Tenor Sans';
}

html {
    background-color:var(--bg-color, #D1E8E2);
    font-family: "Suse Mono" ;
    flex-wrap: wrap;
}

body {
    margin:0px;
    padding:0px;
}

.menu{
    background: var(--menu-color, azure);
    max-width: 100%;
    padding: 0%;
    border-bottom: 1px solid var(--title-border-color, #19747E);
}

.menu nav{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    font-weight: 700;
    font-family: "Suse Mono";
    font-size: larger;
}

.menu a {
    display: flex;
    align-content: center;
    text-decoration: none;
    color: var(--title-border-color, #19747E);
    height:100%;
    width: 100%;
    border: 1px solid var(--title-border-color, #19747E);
    margin: 0px !important;
    text-align: center;
    padding: 1%;
    justify-content: space-evenly;
}

.menu a:hover{
    color: var(--title-text-highlight, #19397e);
}

#container {
    padding: 0% 2%;
    margin: 0;
    width: 100%;
}