<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>County CalOfficials</title>
        <link rel="stylesheet" th:href="@{/county.css}">
    </head>
    <body>
        <h1 th:text="${message}"></h1>
        <div th:each="official : ${#numbers.sequence(0, 5)}" class="third-col">
            <div class="officialCard">
                <h1>Senator</h2>
                <h2>Name</h3>
                <h3>Salary: 100000</h3>
                <h3>Senate District: 11</h3>
                <h3>Counties Served: County 1, County 2, County 3...</h3>
            </div>
        </div>
    </body>
</html>