<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>County CalOfficials</title>
        <link rel="stylesheet" th:href="@{/county.css}">
    </head>
    <body>
          <!--div th:replace="fragments/menu :: menu"></div>-->
        <h1 th:text="${message}"></h1>
        <search>
            <form action="/county">
                <input class="input" name="search_bar" placeholder="Enter County Name">
            </form>
        </search>
        <div th:if="${officials != null && !#lists.contains(officials, null) && !officials.isEmpty()}" class="card-container">
        <div th:each="official : ${officials}" class="officialCard">
                <h1 th:text="${official.officialType}"></h1>
                <h2 th:text="${official.name}"></h2>
                <h3 th:text="|Salary: ${#numbers.formatCurrency(official.salary)}|"></h3>
                <h3 th:text="|District: ${official.districtId}|"></h3>
                <h3 th:text="|Counties: ${official.counties}|"></h3>
                <h3 th:text="|Committees: ${official.committees}|"></h3>
            </div>
        </div>
    </body>
    </body>
</html>