<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head >
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/theme.css}">
        <title>CalOfficials</title>
    </head>
    <body>
        <h1>
            Background
        </h1>
        <h3>
            This project was created by Shaila and Kelvin to allow Californians to easily know the officials who oversee their county
        </h3>
        <h1>
            Instructions
        </h1>
        <div class="half-col">
            <div class="card">
                <h1 class="card-title">
                    Searching
                </h1>
                <h2 class="card-text">
                    Click on the Search button below or in the menu, and enter the name of an official or a number corresponding to the district you're looking for.
                </h2>
                <button style="--button-color: mistyrose; --button-text-color: lightpink; --button-border-color: darksalmon; --button-text-border-color: palevioletred;" th:onclick="|window.location.href='@{/search}'|"> Search </button>
            </div>
            <div class="card">
                <h1 class="card-title">
                    Selecting County
                </h1>
                <h2 class="card-text">Click on the County button below or in the menu, and enter the name of the county you live in on the search bar. </h2>
                <button style="--button-color: mistyrose; --button-text-color: lightpink; --button-border-color: darksalmon; --button-text-border-color: palevioletred;"
                th:onclick="|window.location.href='@{/county}'|">County</button>
            </div>
        </div>
    </body>
</html>