<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/search.css}">
        <title>Search CalOfficials</title>
        <meta>
    </head>
    <body>
    <h1 th:text="${message}"></h1>
    <search>
        <form action="/search" method="get">
            <input class="input" th:value="${searchterm}" type="text" name="searchbar" placeholder="Enter official name or district number">
        </form>
    </search>
    <div th:if="${!officials.contains(null) && officials.size()>0}" class="card-container">
        <div th:each="num : ${#numbers.sequence(0, officials.size()-1)}" class="officialCard">
                <h1 th:text="${officials.get(num).getOfficialType()}"></h1>
                <h2 th:text="${officials.get(num).getName()}"></h2>
                <h3 th:text="|Salary: ${#numbers.formatCurrency(officials.get(num).getSalary())}|"></h3>
                <h3 th:text="|District: ${officials.get(num).getDistrictId()}|"></h3>
                <h3 th:text="|Counties: ${counties.get(num)}|"></h3>
                <h3 th:text="|Committees: ${committees.get(num)}|"></h3>
            </div>
        </div>
    </body>
</html>