<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/search.css}">
        <title>Search CalOfficials</title>
        <meta>
    </head>
    <body>
    <h1 th:text="${message}"></h1>
    <search>
        <form>
            <input class="input" name="searchbar" placeholder="Enter official name or district number">
        </form>
    </search>
    <div class="card-container">
        <div th:each="official : ${#numbers.sequence(0, 5)}" class="officialCard">
                <h1>Senator</h1>
                <h2>Name</h2>
                <h3>Salary: 100000</h3>
                <h3>Senate District: 11</h3>
                <h3>Counties Served: County 1, County 2, County 3...</h3>
                <h3>Committees: committee 1, committee 2, committee 3</h3>
            </div>
            <div th:each="official : ${#numbers.sequence(0, 3)}" class="officialCard">
                <h1>Congressman</h1>
                <h2>Name</h2>
                <h3>Salary: 120000</h3>
                <h3>Congressional District: 11</h3>
                <h3>Counties Served: County 1, County 2, County 3...</h3>
                <h3>Committees: committee 1, committee 2, committee 3</h3>
            </div>
            <div th:each="official : ${#numbers.sequence(0, 1)}" class="officialCard">
                <h1>Representative</h1>
                <h2>Name</h2>
                <h3>Salary: 120000</h3>
                <h3>Assembly District: 11</h3>
                <h3>Counties Served: County 1, County 2, County 3...</h3>
                <h3>Committees: committee 1, committee 2, committee 3</h3>
            </div>
        </div>
    </body>
</html>